$btn-color: (
    (name: 'default', primary: #F7F7FA, f: #575757, s: #8E8E93),
    (name: 'blue', primary: #3498FF, f: #FFFFFF, s: #8E8E93),
    (name: 'red', primary: #F44336, f: #FFFFFF, s: #8E8E93),
    (name: 'orange', primary: #FF9800, f: #FFFFFF, s: #8E8E93),
    (name: 'yellow', primary: #FFCA28, f: #FFFFFF, s: #8E8E93),
    (name: 'green', primary: #4CAF50, f: #FFFFFF, s: #8E8E93),
    (name: 'cyan', primary: #00BCD4, f: #FFFFFF, s: #8E8E93),
    (name: 'violet', primary: #673AB7, f: #FFFFFF, s: #8E8E93),
);

$btn-type: default, subtle, ghost, link;

.sky-button {
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px;
    border: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color .25s;

    &::after {
        content: '';
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: radial-gradient(circle, #ccc 10%, transparent 10.1%);
        transform: scale(10);
        opacity: 0;
        transition: all .6s;
    }
    &:active::after {
        transform: scale(0);
        opacity: .5;
        transition: 0s;
    }
}

@for $i from 1 through length($btn-color) {
    $item: nth($btn-color, $i);
    .sky-button--#{map-get($item, name)}, .sky-button-default-#{map-get($item, name)} {
        background-color: map-get($item, primary);
        color: map-get($map: $item, $key: f);
    }
    .sky-button-subtle-#{map-get($item, name)} {
        background-color: inherit;
        color: map-get($map: $item, $key: s);
    }
    .sky-button-ghost-#{map-get($item, name)} {
        background-color: inherit;
        border: 1px solid map-get($item, primary);
        color: map-get($item, primary);
    }
    .sky-button-link-#{map-get($item, name)} {
        background-color: inherit;
        color: map-get($item, primary);
    }
}

.sky-button--subtle {
    color: #8E8E93;
}
.sky-button--ghost {
    border: 1px solid;
}


.sky-button-lg {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 16px;
}
.sky-button-md {
    padding: 8px 12px;
}
.sky-button-sm {
    padding: 3px 8px;
}
.sky-button-xs {
    font-size: 12px;
    padding: 2px 6px;
}